<form asp-route="LogAUser" method="post">
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="UserName">User</label>
                </td>
                <td>
                    <input name="UserName" type="text" id="UserName" placeholder="Type In Your UserName" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Password">Password</label>
                </td>
                <td>
                    <input name="password" type="password" id="Password" placeholder="Type In Password" />
                </td>
            </tr>
            <tr>
                <td>
                    <button>Log In</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>